name: CI

on:
  push:
  pull_request:
    types: [closed]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable" # or: 'dev' or 'beta'
      - name: Download Flutter dependencies
        run: flutter pub get
      - name: Run Flutter tests with coverage
        run: flutter test --coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.2
        if: success()
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: coverage/lcov.info
#      - name: Build Android app
#        run: flutter build apk
#      - name: Semver Release
#        uses: K-Phoen/semver-release-action@v1.0.3
#        if: success() && github.event_name == 'pull_request'
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          release_branch: master
